.title {
  text-align: center;
  font-size: 48px;
}
.questions {
  margin: 30px 140px;
}
.question {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--gray-color);
  border-radius: 15px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}
.svg {
  width: 23px;
  padding: 5px;
}
.answer {
  height: 0px;
  overflow: hidden;
}
.a_open {
  height: auto;
  color: var(--gray-color);
  padding: 1px 7px 30px 20px;
  transition: max-hight 1.4s ease;

  // font-size: 20px;
}
.q_open {
  background-color: var(--root-color);
  border: var(--root-color);
  color: #ffffff;
}
