@import "../../scss/container";
@import "../../scss/variable";

.container {
  h3 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
  p {
    font-size: 1.25rem;
    margin-top: 0rem;
  }
  ol {
    li {
      font-size: 1.25rem;
    }
  }
}


@include table {
  .container {
    margin-left: 3rem;
    margin-right: 1rem;
  }
}
