@import "../../scss/container";
@import "../../scss/variable";

.container {
  h3 {
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  p {
    margin-top: 0rem;
    font-size: 1.25rem; 
     margin-bottom: 3rem;
  }
}

@include desctop{
  .container {
    margin-left: 4rem;
    margin-right: 4rem;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@include table {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
