.container {
  background-image: url("../assets/background-buttom.svg");
  background-repeat: no-repeat;
//   background-size: contain;
  background-position: bottom right;
}
.details {
  margin: 6rem 100px -15px 100px;
  display: flex;
  justify-content: flex-end;

  img {
    width: 507px;
    position: absolute;
    top: 1580px;
    left: 100px;
  }

 .text{
    width: 602px;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
  
  }
  p {
    font-size: 2rem;
    color: var(--gray-color);
  }
  button {
    width: 260px;
    height: 60.088px;
    padding: 14px 20px;
    margin: 45.55px  0px 9rem 0px;
  }
}
