@import "../../scss/variable";
.container {
  background-image: url("../../assets/background/background-buttom.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.details {
  .mobile {
    display: none;
  }
  margin: 1rem 6rem -1rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-end: auto;
  .photos {
    .photo1 {
      position: relative;
      width: 21rem;
      bottom: 8rem;
    }
    .photo2 {
      position: absolute;
      width: 20rem;
      left: 18rem;
    }
  }

  .text {
    width: 602px;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
      color: var(--gray-color);
    }
  }
  button {
    width: 260px;
    height: 60.088px;
    padding: 14px 20px;
    margin: 45.55px 0px 7rem 0px;
    font-size: 1.6rem;
  }
}
@include max-desctop {
  .details {
    margin: 1rem 4rem -1rem 4rem;
    .photos {
      .photo2 {
        left: 15rem;
      }
    }
    .text {
      p {
        font-size: 1.9rem;
      }
    }
  }
}
@include desctop {
  .details {
    margin: 1rem 2rem -1rem 2rem;
    .photos {
      .photo1 {
        width: 18rem;
        bottom: 7rem;
      }
      .photo2 {
        width: 17rem;
        left: 12rem;
      }
    }

    .text {
      width: 480px;
      h2 {
        font-size: 2.7rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
@include leptop {
  .details {
    .photos {
      .photo1 {
        width: 15rem;
        bottom: 6.5rem;
      }
      .photo2 {
        width: 14rem;
        left: 10rem;
      }
    }
    .text {
      width: 400px;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
  }
}

@media only screen and (max-device-width: 828px) and (-webkit-min-device-pixel-ratio: 1) {
  .details {
    .photos {
      .photo1 {
        width: 13rem;
        bottom: 6.5rem;
      }
      .photo2 {
        width: 12rem;
        left: 10rem;
      }
    }
    .text {
      width: 370px;
      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
    button {
      width: 240px;
      font-size: 1.3rem;
    }
  }
}
@include table {
  .details {
    .desctop {
      display: none;
    }
    .mobile {
      display: block;
      background-color: var(--root-color);
      margin: -3.5rem -2rem 0rem -2rem;
      button {
        position: relative;
        font-size: 2rem;
        left: 20%;
        min-width: 29rem;
        height: 5rem;
        border-radius: 3rem;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
      }
    }
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1.6fr;

    .photos {
      .photo1 {
        width: 17rem;
        bottom: 5rem;
        left: 6rem;
      }
      .photo2 {
        width: 18rem;
        left: 21rem;
      }
    }
    .text {
      width: 95%;
      margin: 0rem 3rem 3rem 1rem;
      text-align: center;
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
        color: var(--gray-color);
      }
    }
  }
}
@media only screen and (max-device-width: 678px) and (-webkit-min-device-pixel-ratio: 1) {
  .details {
 
    .mobile {
      margin: -3.5rem -2rem 0rem -2rem;
      button {
        font-size: 2rem;
        left: 20%;
        min-width: 27rem;
        height: 5rem;
      }
    }

    .photos {
      .photo1 {
        width: 15rem;
        left: 4rem;
      }
      .photo2 {
        width: 16rem;
        left: 17rem;
      }
    }
    .text {
      width: 95%;
      margin: 0rem 3rem 3rem 1rem;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
}
@include mobile{
  .details {
 
    .mobile {
      margin: -2rem -2rem 0rem -2rem;
      button {
        font-size: 2rem;
        left: 13%;
        min-width: 27rem;
        height: 5rem;
      }
    }

    .photos {
      .photo1 {
        width: 15rem;
        left: 4rem;
      }
      .photo2 {
        width: 16rem;
        left: 17rem;
      }
    }
    .text {
      width: 95%;
      margin: 0rem 3rem 3rem 1rem;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
}