@import "../../scss/variable";

.container {
  display: flex;
  margin-left: 6rem;
  justify-content: space-between;

  .text {
    max-width: 27rem;
  }
  .h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 3rem;
  }
  .p {
    color: var(--gray-color);
    font-size: 1.25rem;
  }
}
.img {
  position: relative;
  bottom: 5rem;
  max-width: 55rem;
  max-height: 41rem;
}

@include max-desctop {
  .img {
    max-width: 47rem;
    bottom: 2rem;
  }
}
@include desctop {
  .img {
    max-width: 34rem;
    bottom: 4rem;
  }
  .container {
    margin-left: 3rem;
    .h2 {
      font-size: 2.7rem;
    }
    .p {
      font-size: 1.15rem;
    }
  }
}
@include leptop {
  .container {
    margin-left: 2rem;
    .h2 {
      font-size: 2rem;
      margin-top: 0;
    }
    .p {
      font-size: 1rem;
    }
  }
  .img {
    max-width: 32rem;
    bottom: 5rem;
  }
}
@include table {
  .container {
    margin-left: 2rem;
    flex-direction: column-reverse;

    .text {
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
    }
    .h2 {
      display: none;
    }
    .p {
      font-size: 2rem;
      text-align: center;
    }
  }
  .img {
    max-width: 55rem;
    top: -5.6rem;
   margin-bottom: -5.5rem;
  }
}
@include mobile {
  .container {
    margin-left: 0rem;
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 90%;
    }
    .p {
      font-size: 1.7rem;
    }
  }
  .img {
    max-width: 62rem;
  }
}
