@import "../../scss/variable";

.form {
  input,
  textarea {
    width: 26rem;
    padding: 0.75rem 1rem 0.8125rem 1rem;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    margin-bottom: 0.5rem;
    border: none;
    font-family: Nunito Sans;
    font-size: 1rem;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.282);
    &:focus {
      background-color: white;
    }
  }

  .textarea {
    height: 4rem;
  }
  .sending {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      color: var(--orange-color);
      font-size: 1rem;
      align-items: flex-end;
      margin-top: 0rem;
    }
  }
  .span {
    position: relative;
    top: -2.1rem;
    left: 25rem;
    font-size: 0.7rem;
  }
  .gray_span {
    color: var(--gray-color);
  }
  .red_span {
    color: red;
  }
  input[type="submit"]:focus {
    background-color: var(--orange-color);
  }
  .button {
    width: 13rem;
    border-radius: 1rem;
    border: 3px solid var(--orange-color);
    position: relative;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 0.3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    &:hover {
      background-color: var(--hover);
      cursor: pointer;
    }
    &:active {
      background-color: var(--active-click);
    }
  }
}

@include desctop {
  .form {
    input,
    textarea {
      width: 23rem;
    }
    .span {
      left: -2.4rem;
      top: -1rem;
    }
  }
}
@include leptop {
  .form {
    input,
    textarea {
      width: 23rem;
    }
    .sending {
      h6 {
        margin: 1rem 0rem;
      }
      margin-bottom: 2rem;
    }
  }
}
@include table {
  .form {
    input,
    textarea {
      width: 43rem;
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
    .textarea {
      height: 5rem;
    }
    .button {
      width: 35rem;
      font-size: 1.5rem;
      padding: 0.5rem;
      border-radius: 2.1rem;
      margin-bottom: 3rem;
    }
    .span {
      top: -1.5rem;
    }
    .sending {
      flex-direction: column;
      h6 {
        margin: 0.4rem 1rem;
        font-size: 1.25rem;
      }
    }
  }
}
@include mobile {
  .form {
    margin-left: 10%;
    margin-right: 10%;
    .span {
      left: 42rem;
      font-size: 0.9rem;
      top: -3rem;
    }
    input,
    textarea {
      width: 43rem;
      font-size: 1.75rem;
    }
    input {
      height: 3rem;
    }
    .textarea {
      height: 7rem;
    }
    .button {
      font-size: 2.2rem;
      height: 5rem;
    }
  }
}
