@import "../scss/container";
@import "../scss/variable";

.menu {
  display: none;
}
.top_hr {
  display: none;
}
.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  padding: 20px 32px;
  text-decoration: none;
  font-size: 1.25rem;
}

.active {
  font-weight: 700;
}
.line {
  width: 2rem;
  position: relative;
  top: 1.5rem;
  left: 1.8rem;
}
.not_line {
  display: none;
}

@include desctop {
  .link {
    font-size: 1rem;
    padding: 20px 25px;
  }
}
@include leptop {
  .download {
    display: none;
  }
}
@include table {
  .close {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    background-color: #6c4eff;
    // background-color: #0000006e;
    left: 0;
    top: 80px;
    transition: all 0.1s;
    width: 100%;
    z-index: 2;
    // border-radius: 0px 0px  0px  100%;
    
    .link {
      // text-align: end;
      text-align: center;
      color: var(--white-color);
      width: 90%;
      padding: 3rem;
      transition: all 0.3s ease;
      font-size: 2rem;
      font-weight: 700;
    }
    .line {
      display: none;
    }
  }
  
  .open {
    display: none;
  }

  .menu {
    display: block;
    width: 2.5rem;
  }
}
@include mobile {
  .container {
    border-width: 0.5rem;
    border-block-end: solid;
    border-color: rgba(224, 223, 223, 0.377);
    padding-bottom: 5px;

  }
}
