@import "../../scss/variable";
.error {
  img {
    display: block;
    margin: -1.5rem auto;
    width: 52.9rem;
    height: 31.4rem;
  }
  .bt_desctop {
    position: relative;
    left: 45%;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background-color: var(--root-color);
    color: var(--white-color);
    border-radius: 20rem;
    border: none;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    cursor: pointer;
    border: 2px solid white;
  }
}
@include table {
  .error {
    .bt_desctop {
      font-size: 2rem;
      left: 40%;
      padding: 1.5rem 4rem;
    }
  }
}
