@import "../../scss/variable";
.error {
  img {
    height: 31.4rem;
    display: block;
    margin: -1.5rem auto;
    width: 50%;
  }
  button {
    position: relative;
    left: 45%;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background-color: var(--root-color);
    color: var(--white-color);
    border-radius: 20rem;
    border: none;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    cursor: pointer;
  }
}
