.head_container {
  background-image: url("../components/assets/background-top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.desc {
  margin: 1rem 1rem 11rem 6.25rem;
}
.desc h1 {
  font-size: 3rem;
  font-weight: 700;
}
.desc p {
  font-size: 20px;
  font-weight: 400;
}

.buttons button {
  margin-top: 2.3rem;
  margin-right: 2rem;
  width: 16rem;
  width: 16rem;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 30px;
  font-family: Nunito Sans;
  cursor: pointer;
}

.more {
  border: 2px solid var(--orange-color);
  background: white;
  color: var(--orange-color);
}

.phone1 {
  right: 305px;
  top: 124px;
  width: 12.9rem;
  position: absolute;
}

.phone2 {
  right: 101px;
  top: 156px;
  width: 16rem;
  position: absolute;
}

.google_play {
  width: 10rem;
  background-color: var(--white-color);
  display: flex;
  position: absolute;
  top: 35rem;
  right: 25rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 4px 8px 0px rgba(57, 41, 137, 0.25);
}
.google_play .text {
  margin: 0.4rem;
}
.google_play .text p {
  margin: 0rem;
}