.container {
  background-color: var(--root-color);
}
.container h2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Nunito Sans;
}
.container h2 {
  color: var(--white-color);
  text-align: center;
  margin-bottom: 4rem;
  margin-top: -1rem;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}
.reviews .fix {
  margin-bottom: 4rem;
}
.reviews article {
  background-color: var(--white-color);
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
}
.reviews article img {
  width: 80px;
  height: 79.81px;
  margin: 2.24rem 1.5rem 4.7rem 1.5rem;
}
.reviews article .text h3 {
  font-size: 2rem;
  font-weight: 600;
  font-family: Nunito Sans;
}
.reviews article .text p {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Nunito Sans;
}
.reviews article .text h3 {
  margin-bottom: 0rem;
}
.reviews article .text p {
  color: var(--gray-color);
  margin-top: 2px;
  margin-right: 1.5rem;
}