@import "../scss/variable";
.footer {
  background-color: var(--root-color);
  color: white;
  @import "../scss/container";

  h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .contact {
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .links {
    display: flex;
    justify-content: space-between;

    img {
      width: 8rem;
      padding: 2.5rem;
      cursor: pointer;
    }

    .desc {
      display: flex;
      justify-content: space-between;

      .about {
        display: grid;
        margin-right: 8rem;
      }
      .contacts {
        display: grid;
      }
    }
  }
}
.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include mobile {
  .footer {
    .links {
      display: grid;
      grid-template-columns: 1fr;
      img {
        width: 10rem;
      }
      .desc {
        display: grid;
        grid-template-columns: 1fr;


        h3 {
          font-size: 1.5rem;
        }
        .contact {
          font-size: 0.8rem;
        }
      }
    }
    .terms {
      p {
        font-size: 1.5rem;
      }
      .contact {
        display: none;
      }
    }
  }
}
