.container {
  background-color: var(--root-color);
  margin-top: -1rem;
}
@import "./imortFiles/h2";
@import "./imortFiles/p";


.desc {
  text-align: center;
  color: var(--white-color);

  h2 {
    margin-top: 0;
  }
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  margin: 3rem 6.25rem;

  .box {

    max-width: 350px;
    max-height: 350px;
    border-radius: 30px;
    background: var(--white-color);
    box-shadow: 0px 4px 20px 0px rgba(13, 23, 77, 0.25);
    text-align: center;
    padding: 1.7rem;
    margin-bottom: 206px;


    p {
      color: var(--gray-color);
    }
  }
}
