@import "./imortFiles/variable";
// main{
//   flex: 1 1 auto;
// }
.container {
  display: flex;
  margin-left: 6.25rem;
  justify-content: space-between;

  .text {
    max-width: 27rem;
  }
  .h2 {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 3rem;
  }
  .p {
    color: var(--gray-color);
    font-size: 1.25rem;
  }
}
.img {
  margin-top: -2.4rem;
  margin-bottom: 5rem;
  max-width: 50rem;
}

@include max-desctop {
  .img {
    max-width: 43rem;
  }
}
@include desctop {
  .img {
    max-width: 36rem;
  }
  .container {
    margin-left: 3rem;
    .h2 {
      font-size: 2.4rem;
    }
    .p {
      font-size: 1.1rem;
    }
  }
}
@include leptop {
  .container {
    margin-left: 2rem;

    .h2 {
      font-size: 2rem;
    }
    .p {
      font-size: 1rem;
    }
  }
.img {
    max-width: 34rem;
  }
}

