.download {
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 30px;
    background: var(--orange-color);
    padding: 10px 28px;
    color: white;
    border: none;
    font-family: Nunito Sans;
    @media (max-width: 1260px) {
      font-size: 1rem;
    }
  }