@import "./imortFiles//variable";
.form {
  input,
  textarea {
    width: 26rem;
    padding: 0.75rem 1rem 0.8125rem 1rem;
    border-radius: 0.5rem;
    background-color: #f7f7f7;
    margin-bottom: 0.5rem;
    border: none;
    font-family: Nunito Sans;
    font-size: 1rem;
  }
  .textarea {
    height: 4rem;
  }
  .button {
    width: 13rem;
    border-radius: 1rem;
    border: 3px solid var(--orange-color);
    position: relative;
    left: 15rem;
    background-color: var(--white-color);
    color: var(--orange-color);
    padding: 0.3rem;
    font-weight: 700;
    margin-bottom: 0rem;
  }
  h6 {
    color: var(--orange-color);
    font-size: 1rem;
    align-items: flex-end;
  }
}

@include desctop {
  .form {
    input,
    textarea {
      width: 23rem;
    }
    .button{
      left: 12rem;
    }
  }
}
