@import "./imortFiles/container";
@import "./imortFiles/variable";

.menu {
  display: none;
}
.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .links {
    .link {
      padding: 20px 32px;
      text-decoration: none;
      font-size: 1.25rem;
    }
    
  }
}
.active {
  font-weight: 700;
}
.line {
  width: 2rem;
  position: relative;
  top: 1.5rem;
  left: 1.8rem;
}
.not_line {
  display: none;
}

@include desctop {                             // 1200
  .link {
    font-size: 1rem !important;
    padding: 20px 25px !important;
  }
}
@include leptop {                              // 1024
  .download {
    display: none;
  }
}

@include table{
  .links{
    background-color: red;
  }
}

@include mobile{
  .links{
    background-color: red;
  }
}