@import "./imortFiles/container";
@import "./imortFiles/variable";

.container {
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
}

@include table {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}
