.container {
  max-width: 100%;
  padding: 2rem 0rem 3rem 0rem;
  margin: -1rem auto 3rem auto;
  background-color: var(--root-color);
  min-width: 0;
}
.container h2 {
  display: none;
}
.swiper-container {
  max-width: 87%;
  height: 42rem;
}
.swiper-container .image {
  width: 18.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 .swiper-slide {
  opacity: 0.6;
}
.swiper-slide-active {
  opacity: 1 !important;
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 1 !important;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: var(--orange-color);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  border: 3px solid white;
}
.slider-arrow {
  display: none;
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .swiper-container .image {
    width: 15.5rem;
  }
  .swiper-container {
    height: 36rem;
  }
}
@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .swiper-container {
    max-width: 100%;
  }
  .swiper-slide {
    opacity: 1;
    width: 22rem !important;
    margin-right: 0%;
  }
}
@media only screen and (max-device-width: 579px) and (-webkit-min-device-pixel-ratio: 1) {
  .container h2 {
    display: block;
    color: var(--white-color);
    text-align: center;
    font-size: 2rem;
  }

  .swiper-container {
    height: 39rem;
  }
  .swiper-slide {
    opacity: 1;
    width: 22rem !important;
    margin-left: -5%;
  }
  .swiper-slide .image {
    width: 18rem;
  }
  
  .swiper-pagination-bullet {
    width: 0.7rem;
    height: 0.7rem;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal{
    left: 2rem;
  }
}
